<%= render partial: 'shelter' %>
<br>
<br>
<h3>Shelters with Pending Applications</h3>

<div id='pending-apps'>

  <ul class="list-group">
    <% @shelters_with_apps.each do |shelter| %>
      <li class="list-group-item"> <%= shelter.name %> </li>
    <% end %>
  </ul>
</div>
<br>
